################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Aps_AtividadeScrum.Computador/bin/Debug/net8.0
/Aps_AtividadeScrum.Computador/obj
